* {
  padding: 0;
  margin: 0;
}

.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.board {
  width: calc(64px * 8);
  height: calc(64px * 8);
  display: flex;
  flex-wrap: wrap;
  border: 12px solid #006599;
}

.cell {
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cell img {
  width: 48px;
  height: 48px;
  position: relative;
}

.black {
  background-color: #006599;
}

.white {
  background-color: #99ccff;
}

.selected {
  background-color: darkslategrey;
}

.available {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: darkslategrey;
}

.attack {
  background-color: darkslategrey;
}

.lost {
  height: calc(50vh - 120px);
  padding: 30px;
  margin-left: 50px;
  background-color: lightgray;
}
